:root{
    --text-color: #667085;
    --main-color: #8E2424;
    --text-black: #101828;
}

body{
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    margin: 96px 0px;
}

.about-us spam{
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
}

.about-us h1{
    color: var(--text-black);
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.about-us p{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    width: 60%;
    text-align: center;
    line-height: 30px;
}

.metricas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 96px 0px;
}

.metricas div{
    width: 280px;
}

.metricas div h3{
    color: var(--main-color);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 12px;
}

.metricas div span{
    color: var(--text-black);
    font-size: 18px;
    font-weight: 500;
}

.metricas div p{
    margin-top: 8px;
    font-size: 16px;
    color: #667085;
    line-height: 24px;
}

.vagas-talentos{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
}

.container-info-vagas{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-info-vagas span{
    color: var(--main-color);
    padding: 5.5px 12px;
    background-color: #f8f4f3;
    border-radius: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 14px;
}

.vagas-talentos h2{
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.vagas-talentos p{
    text-align: center;
    font-size: 20px;
    color: var(--text-color);
}

.vagas-talentos img{
    margin: 64px 0px;
    width: 95%;
}

.container-vagas{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.categoria-vaga{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-vagas h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;

}
.titulo-vaga{
    font-size: 18px;
    font-weight: 500;
}

.vaga{
    width: 720px;
    display: flex;
    flex-direction: column;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    gap: 32px;
    padding: 24px;
}


.informacoes{
    display: flex;
    gap: 24px;
}
.informacoes span{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.container-depoimentos{
    display: flex;
    width: 95%;
    background-color: #f8f4f3;
    margin: 96px 0px;
    padding: 64px 0px;
    border-radius: 16px;
}

.container-depoimentos p{
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 16px;
}

.container-depoimentos h3{
    color: var(--text-black);
    width: 80%;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 36px;
}

.depoimentos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.depoimentos div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos div img{
    width: 56px;
    margin-bottom: 16px;
}

.nome{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
    line-height: 24px;
}

.cargo{
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
}




